@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-black: #171717;
    --color-white: #EDEDED;
    --color-gray: #444444;
    --color-accent: #777777;
    --font-cocomat: 'Cocomat Pro', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--color-white);
    background: var(--color-black);
    font-family: var(--font-cocomat);
    font-weight: 300;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    .contact-row {
        flex-direction: column;
    }

    @media (min-width: 370px) {
        .contact-row {
            flex-direction: row;
        }
    }

    .hero-height {
        height: calc(100vh - 100px);
        min-height: 500px;
    }

    @media (min-width: 400px) {
        .hero-height {
            height: calc(70vh - 100px);
            min-height: 600px;
        }
    }
}

/* Style dla cytatów */
blockquote {
    font-style: italic;
    border-left: 4px solid var(--color-accent);
    padding-left: 1rem;
    margin: 1rem 0;
    color: var(--color-white);
    opacity: 0.8;
}

q {
    font-style: italic;
}

q::before {
    content: '\201C'; /* Lewy cudzysłów */
}

q::after {
    content: '\201D'; /* Prawy cudzysłów */
}