@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-black: #171717;
    --color-white: #EDEDED;
    --color-gray: #444444;
    --color-accent: #715A5A;
    --font-cocomat: 'Cocomat Pro', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--color-white);
    background: var(--color-black);
    font-family: var(--font-cocomat);
    font-weight: 300;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}